html {
  font-size: 20px;
}

:root {
  --theme-color: #123456;
}

.wrap {
  /* bfc */
  overflow: hidden;
}

.top {
  font-size: 0.2rem;
  margin-top: 20px;
  background-color: var(--theme-color);
  margin-bottom: 20px;
}

.bottom {
  --theme-bg: #5e1010;
  margin-top: 20px;
  background-color: var(--theme-bg);
}

.display-test {
  font-size: 0;
  -webkit-text-size-adjust: none;
}

.first-right {
  display: inline-block;
  background-color: green;
  font-size: 20px;
}

.second-right {
  display: inline-block;
  background-color: hotpink;
  font-size: 20px;
}
